<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/index.css" />
    <link
      rel="stylesheet"
      href="..\assets\icons\font-awesome-4.7.0\css\font-awesome.min.css"
    />
    <title>ITTI Computer World - Best Place To Buy Laptops In Nepal</title>
  </head>
  <body>
    <header>
      <section>
        <ul class="contact">
          <li>Need help?</li>
          <li><a href="">01-5350440</a></li>
          <li>|</li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul class="adv">
          <li>Unbeatable Deals on Laptops</li>
        </ul>
        <ul class="login">
          <li class="iconLabel myAccount">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="" class="label">My Account</a>
          </li>
          <li class="iconLabel signIn">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="" class="label">Sign In</a>
          </li>
        </ul>
      </section>
    </header>
    <nav>
      <section>
        <!-- Logo -->
        <a href="index.html">
        <img
          class="logo"
          src="../assets/images/aa5a42f8-8f6a-4310-92f7-718fd2a63b0e.svg"
          height="auto" width="150px"
          alt=""
        /></a>

        <!-- Search Bar -->
        <div class="searchbar">
          <input type="text" placeholder="Enter keyword to search" name="" id="search">
          <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>

        <!-- Nav Items - Compare, Shopping Cart, My Wish List -->
        <ul class="navItems">
          <li class="iconLabel compare">
            <i class="fa fa-exchange" aria-hidden="true"></i>
            <a href="" class="label">Compare</a>
          </li>
          <li class="iconLabel shoppingCart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <a href="" class="label">Shopping Cart</a>
          </li>
          <li class="iconLabel wishList">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <a href="" class="label">My Wishlist</a>
          </li>
        </ul>
      </section>
    </nav>
    <menu>
      <section>
        <ul class="menuItems">
          <li><a href="">Laptops By Brands</a></li>
          <li><a href="">Accessories</a></li>
          <li><a href="">Office Components</a></li>
          <li><a href="">Gaming</a></li>
          <li><a href="">Desktop & Server</a></li>
          <li><a href="">Gadgets</a></li>
          <li><a href="">Home Appliances</a></li>
          <li><a href="">Custom PC Build</a></li>
      </section>
    </menu>
    <section class="slide">
      <div class="slideDesc">
        <div class="slideHead">Limited Offer Zenbook 14 Intel Core Ultra 7</div>
        <div class="slideSubhead">
          <p>Elevate your productivity and entertainment experience</p>
          <p>Nrs. 6000 Off!</p>
        </div>
        <button class="slideBtn">SHOP NOW</button>
      </div>
      <img src="../assets/images/slideImg.webp" width="515px" height="auto" alt="" class="slideImg">
    </section>
    <br><br><br><br>
    <section class="dotw">
      <div class="dotwHead">DEAL OF THE WEEK</div>
      <div class="cards">
        <ul class="card">
          <li class="cardImg"><img src="../assets/images/dotw1.webp" alt=""></li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM | 512GB SSD | 15.6" 165Hz FHD Display</li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><strike>Nrs. 1,80,000</strike> </li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg"><img src="../assets/images/dotw2.webp" alt=""></li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM | 512GB SSD | 15.6" 165Hz FHD Display</li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><strike>Nrs. 1,80,000</strike> </li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg"><img src="../assets/images/dotw3.webp" alt=""></li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM | 512GB SSD | 15.6" 165Hz FHD Display</li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><strike>Nrs. 1,80,000</strike> </li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg"><img src="../assets/images/dotw4.webp" alt=""></li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM | 512GB SSD | 15.6" 165Hz FHD Display</li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><strike>Nrs. 1,80,000</strike> </li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
      </div>
    </section>

  </body>
</html>
