<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/index.css" />
    <link
      rel="stylesheet"
      href="..\assets\icons\font-awesome-4.7.0\css\font-awesome.min.css"
    />
    <title>ITTI Computer World - Best Place To Buy Laptops In Nepal</title>
  </head>
  <body>
    <header>
      <section>
        <ul class="contact">
          <li>Need help?</li>
          <li><a href="">01-5350440</a></li>
          <li>|</li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul class="adv">
          <li>Unbeatable Deals on Laptops</li>
        </ul>
        <ul class="login">
          <li class="iconLabel myAccount">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="" class="label">My Account</a>
          </li>
          <li class="iconLabel signIn">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="" class="label">Sign In</a>
          </li>
        </ul>
      </section>
    </header>

    <!-- Navbar Section -->
    <section class="nav">
      <!-- Logo -->
      <a href="index.html">
        <img
          class="logo"
          src="../assets/images/aa5a42f8-8f6a-4310-92f7-718fd2a63b0e.svg"
          width="150"
          alt=""
      /></a>

      <!-- Search Bar -->
      <div class="searchbar">
        <input
          type="text"
          placeholder="Enter keyword to search"
          name="search"
          id="search"
        />
        <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
      </div>

      <!-- Nav Items - Compare, Shopping Cart, My Wish List -->
      <ul class="navItems">
        <li class="iconLabel compare">
          <i class="fa fa-exchange" aria-hidden="true"></i>
          <a href="" class="label">Compare</a>
        </li>
        <li class="iconLabel shoppingCart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <a href="" class="label">Shopping Cart</a>
        </li>
        <li class="iconLabel wishList">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <a href="" class="label">My Wishlist</a>
        </li>
      </ul>
    </section>

    <!-- Dropdown Menu Section -->
    <section class="menu">
      <ul class="menuItems">
        <li><a href="">Laptops By Brands</a></li>
        <li><a href="">Accessories</a></li>
        <li><a href="">Office Components</a></li>
        <li><a href="">Gaming</a></li>
        <li><a href="">Desktop & Server</a></li>
        <li><a href="">Gadgets</a></li>
        <li><a href="">Home Appliances</a></li>
        <li><a href="">Custom PC Build</a></li>
      </ul>
    </section>

    <!-- Slider Carousel Section -->
    <section class="slide">
      <div class="slideDesc">
        <div class="slideHead">Limited Offer Zenbook 14 Intel Core Ultra 7</div>
        <div class="slideSubhead">
          <p>Elevate your productivity and entertainment experience</p>
          <p>Nrs. 6000 Off!</p>
        </div>
        <button class="slideBtn">SHOP NOW</button>
      </div>
      <img
        src="../assets/images/slideImg.webp"
        width="500"
        alt=""
        class="slideImg"
      />
    </section>
    <hr />
    <section class="dotw">
      <div class="title">DEAL OF THE WEEK</div>
      <div class="cards">
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw1.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw2.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw3.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw4.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
      </div>
    </section>
    <hr />

    <!-- Featured Category (fcat) -->
    <section class="fcat">
      <div class="title">FEATURED CATEGORY</div>
      <ul class="fcatCards">
        <li class="fcatCard">
          <i class="fa fa-camera-retro" aria-hidden="true"></i>
          <div class="fcatCardLabel">Cameras</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-television" aria-hidden="true"></i>
          <div class="fcatCardLabel">Televisions</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-gamepad" aria-hidden="true"></i>
          <div class="fcatCardLabel">Gaming Consoles</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-keyboard-o" aria-hidden="true"></i>
          <div class="fcatCardLabel">Keyboards</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-tablet" aria-hidden="true"></i>
          <div class="fcatCardLabel">Tablets</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <div class="fcatCardLabel">Smartphones</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          <div class="fcatCardLabel">Laptop</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-headphones" aria-hidden="true"></i>
          <div class="fcatCardLabel">Headphones</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-usb" aria-hidden="true"></i>
          <div class="fcatCardLabel">USB</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-desktop" aria-hidden="true"></i>
          <div class="fcatCardLabel">Desktop</div>
        </li>
        <li class="fcatCard">
          <i class="fa fa-television" aria-hidden="true"></i>
          <div class="fcatCardLabel">Camera</div>
        </li>
      </ul>
    </section>
    <hr />

    <!-- Best Selling Products (bsp) -->
    <section class="bsp">
      <div class="title">BEST SELLING PRODUCTS</div>
      <div class="cards">
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw1.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw2.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw3.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw4.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
      </div>
    </section>

    <!-- Advertisement Banner (banner) -->
    <section class="banner">
      <img src="../assets/images/adv1.webp" alt="" />
      <img src="../assets/images/adv2.webp" alt="" />
    </section>

    <!-- Featured Products (fprod) -->
    <section class="fprod">
      <div class="title">FEATURED PRODUCTS</div>
      <div class="cards">
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw1.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw2.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw3.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
        <ul class="card">
          <li class="cardImg">
            <img src="../assets/images/dotw4.webp" alt="" />
          </li>
          <li class="cardTime">Ends in 2d 8h 20m</li>
          <li class="cardTitle">
            Dell Inspiron G15 G5510 2021 Core i7 10870H | RTX 3060 | 16GB RAM |
            512GB SSD | 15.6" 165Hz FHD Display
          </li>
          <li class="cardRate">★★★★☆</li>
          <li class="cardPricecut"><span>Nrs. 1,80,000</span></li>
          <li class="cardPrice">Nrs. 1,35,000</li>
          <li><button class="a2c">Add To Cart</button></li>
        </ul>
      </div>
    </section>

    <!-- Scan To Download (s2d) -->
    <section class="s2d">
      <div class="s2dDesc">
        <div class="s2dHead title">Scan below to download</div>
        <div class="s2dSubhead">
          Take Your Experience to the Next Level:
          <p>
            Download from the <strong>App Store</strong> &
            <strong>Play Store</strong>
          </p>
        </div>
        <div class="s2dStore">
          <img
            src="../assets/images/qrcode.webp"
            width="190"
            class="qr"
            alt=""
          />
          <div class="s2dAppCards">
            <div class="s2dAppCard">
              <img
                src="../assets/images/apple.svg"
                width="50"
                alt=""
                class="apple"
              />
              <div class="download">
                <p>Download on the</p>
                <p>App Store</p>
              </div>
            </div>
            <div class="s2dAppCard">
              <img
                src="../assets/images/playstore.svg"
                width="50"
                alt=""
                class="apple"
              />
              <div class="download">
                <p>Download on the</p>
                <p>Play Store</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="../assets/images/s2d.png" width="350" alt="" class="slideImg" />
    </section>

    <!-- Footer Section -->
    <footer>
      <section class="footer">
        <div class="footerSitemap">
          <div class="sitemapContact">
            <img
              src="../assets/images/6d17c806-949b-47d1-9253-9cf051996d7c.svg"
              alt=""
              class="logo"
              style="object-fit: contain"
            />
            <p>Support</p>
            <div class="iconLabel website">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a href="" class="label">sales@itti.com.np</a>
            </div>
            <div class="iconLabel contact">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <a href="" class="label">01-5350440</a>
              /
              <a href="">01-5911594</a>
            </div>
            <button class="footerBtn iconLabel">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Find our store
            </button>
          </div>
          <ul class="footerCat">
            <li>ITTI Categories</li>
            <li><a href="">Gaming</a></li>
            <li><a href="">Desktop & Server</a></li>
            <li><a href="">Monitors</a></li>
            <li><a href="">Accessories</a></li>
          </ul>
          <ul class="footerAbt">
            <li>About ITTI</li>
            <li><a href="">About ITTI</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Warranty</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Blog</a></li>
          </ul>
          <ul class="footerCustServ">
            <li>Customer Service</li>
            <li><a href="">Refund and Return Policy</a></li>
            <li><a href="">My Account</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
          <ul class="footerNews">
            <li>Newsletter</li>
            <li>
              Trade Alert - Delivering the latest product trends and industry
              news straight to your inbox.
            </li>
            <li>
              <div class="footerSearchbar searchbar">
                <input
                  type="text"
                  placeholder="Your email address"
                  name="email"
                  id="email"
                />
                <a href="">Subscribe</a>
              </div>
            </li>
            <li class="footerSmp">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-pinterest" aria-hidden="true"></i>
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </li>
            <li class="footerPayment">
              <img src="../assets/images/esewa.webp" alt="" />
              <img src="../assets/images/khalti.jpg" alt="" />
              <img src="../assets/images/imepay.jpg" alt="" />
              <img src="../assets/images/visa.png" alt="" />
            </li>
          </ul>
        </div>
        <hr />
        <div class="footerDesc">
          <p>
            Buying a laptop in Nepal can be a tough job. Due to the small
            market, computer stores always bring just a few models of laptops
            and all with limited stock. So chances of finding a laptop that fits
            your requirements are feeble. And if you further look at the laptop
            price in Nepal, you will be shocked to see it being exorbitantly
            high. Limited availability and the high price of the laptops has
            definitely created an inconvenience amongst the customers. With a
            view to solving this problem, ITTI Pvt Ltd was established.
          </p>

          <p>
            In our 15 years of illustrious journey, ITTI always strived to
            provide the best of our services. With a wide variety of products
            and a reasonable price, we definitely have made big efforts to
            provide the best laptops to our customers at the best price. So
            acknowledging our untiring efforts to keep the customers happy, ITTI
            Pvt Ltd is often lauded as the best place to buy laptops in Nepal.
          </p>

          <p>
            However, our product lineup is not just limited to ordinary laptops.
            To encompass all sorts of users, ITTI Pvt Ltd has filled its shelf
            with a handful of gaming laptops and thin and light ultrabooks on
            the top of the regular or general-purpose laptops. In addition to
            that, you can find plentiful of desktops, regular and gaming
            monitors, televisions, and other computer accessories at our store.
          </p>

          <p>
            Although our store is located in Putalisadak, Kathmandu, our service
            is not just limited to valley dwellers. To ensure convenience for
            the people outside the Kathmandu valley, we have a free shipping
            service. And to further improve your online purchasing experience,
            we are also offering 7-days no questions asked return policy. So
            we've got you all covered.
          </p>
        </div>
        <hr />
        <div class="footerCopyright">
          ITTI Computer World Pvt. Ltd. © 2024. All Rights Reserved.
        </div>
      </section>
    </footer>
  </body>
</html>
